<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Bradesco API Test Suite">
            <file>tests/BradescoTest.php</file>
            <file>tests/BankSlipTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="BRADESCO_SANDBOX" value="true"/>
        <env name="BRADESCO_TIMEOUT" value="20"/>
        <env name="BRADESCO_CERT_PATH" value="myCertificate.pfx"/>
        <env name="BRADESCO_CERT_PASSWORD" value="myPassword"/>
        <env name="DATA" value='{"nuCPFCNPJ":"","ctrlCPFCNPJ":"","filialCPFCNPJ":"","nuNegociacao":""}' />
    </php>
</phpunit>
